@import url("./navbar.css");
@import url("./projects.css");
@import url("./about.css");
@import url("./contact.css");
@import url("./home.css");

:root {
  --base: #fff;
  --border: #7fa1f0;
  --text: #000;
  --accent: #7fa1f0;
  --sun: hsla(68, 100%, 82%, 1);
  --selected: #ddd;
  --transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  --font: "Oswald", sans-serif;
}

.dark-mode {
  --base: #1b1b3a;
  --border: #673ab7;
  --text: #fff;
  --accent: #3e3e78;
  --selected: #7f7f7f;
}

body {
    color: var(--text);
    transition: var(--transition);
    margin-top: 0;
    font-family: var(--font);
    background: linear-gradient(
      to bottom,
      var(--border) 0%,
      var(--selected) 100%
    );
}

.hidden {
  display: none;
}
